[Unit]
Description=frontend_digitizers_calibration service
After=docker.service
Requires=docker.service

[Install]
WantedBy=default.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill fedc_PBPS053
ExecStartPre=-/usr/bin/docker rm fedc_PBPS053
ExecStartPre=/usr/bin/docker pull docker.psi.ch:5000/frontend_digitizers_calibration
ExecStart=/usr/bin/docker run --name fedc_PBPS053 --net=host --env-file /etc/fedc_environment docker.psi.ch:5000/frontend_digitizers_calibration calibrate_pbps SARFE10-CVME-PHO6212 /cfg/comb007-5120.vcal 9 15 SARFE10-PBPS053: --port 10001
ExecStop=/usr/bin/docker stop fedc_PBPS053
Restart=always