[Unit]
Description=frontend_digitizers_calibration service
After=docker.service
Requires=docker.service

[Install]
WantedBy=default.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill frontend_digitizers_calibration
ExecStartPre=-/usr/bin/docker rm frontend_digitizers_calibration
ExecStartPre=/usr/bin/docker pull docker.psi.ch:5000/frontend_digitizers_calibration
ExecStart=/usr/bin/docker run --name frontend_digitizers_calibration --net=host docker.psi.ch:5000/frontend_digitizers_calibration startup.sh
ExecStop=/usr/bin/docker stop frontend_digitizers_calibration
Restart=always